.sectionOneGradient {
    background: linear-gradient(107.97deg, rgb(253, 121, 48) 0%, rgb(191, 0, 183) 100%);
  }

  .hovercolor{
    background-color: whitesmoke;
  }
  /* .hovercolor:hover{
    background-color: white;
    box-shadow: 5px 5px 20px white;
  } */
  .hovertran:hover{
    transform: translateY(10px);
    transition: ease-in-out 0.3s;
  }
  .hovertran:hover div.hovercolor{
    background-color: white;
    box-shadow: 5px 5px 20px white;
    border-radius: 0px;
  }